* {
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* border: 1px solid red; */
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid green; */
  max-height: 100vh;

}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 580px;
  width: 100%; 
  max-width: 630px;
  /* border: 1px solid black; */
}

.nur
{ 

  width: 90%; 
  /* border: 2px red solid; */
  background: #F5F5F5;
}






/* .gateway {
  min-height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: center; 
  padding: 35px;
  
}

.form-signin {
  width: 100%;
  max-width: 530px;
  margin: auto;
  background: #F5F5F5;
} */


.header {
  background: #FFFFFF;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

/* .form-signin .form-floating:focus-within {
  z-index: 2;
}
 */
 
/* .form-signin input {
  background-color: lightgrey;
} */

.fs-14{
  font-size: 14px;
  
}

.custom-title{
  font-size: 18px;
  font-weight: 600;
}

.fs-18 {
  font-size: 18px;
  font-weight: 500;
} 

.fs-24{
  font-size: 24px;
  font-weight: 600;
}

.footer{
  background: #FFFFFF;
  font-weight: 500;
  text-align: center;
}

.button-close{
  background: #999999 !important;
}

.btn-confirm {
  background: #00C52A !important;
}

.top-left {
  display: flex;
  justify-content:center;
  align-items:center;
}

.order-id {
  font-weight: 500;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

input {
font-weight: 500;

} 

.border-bottom:focus {
  border-bottom: 3px solid #34A853 !important;
}

label {
color: #34A853;
/* font-weight: 500; */
}

.form-control {
font-weight: 500 !important;
}

.w-80{
width: 80%;
}

.w-20{
  width: 20%;
}

.padding-x{
  padding-inline: 27px;
}

.payment-method {
  font-weight: 600;
  font-size: 20px;
}

.active  {
background-color:#00C52A !important;
color: white !important;
}

.w-71{
  width: 66.4%;
}

.logo {
  width: 40px;
}

.fs-11{
  font-size:11px;
}

.padding-bottom{
  padding-bottom: 22px;
}

.padding-pin{
  padding-block: 71.5px;
}

.padding-otp{
  padding-block: 69px;
}

.padding-number {
  padding-block: 0.2px;
}

 .mb-7{
  padding-bottom:7px;
} 
















